.searchselect {
    position: relative;
    float: left;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 500px;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
    line-height: normal;
}

.searchselect-container {
    position: relative;
}

.searchselect-label {
    bottom: 0;
    color: rgba(0,0,0,.26);
    font-size: inherit;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 24px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.searchselect-input {
    position: absolute;
    font-size: inherit;
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
    cursor: pointer;
}

.searchselect-input > .searchselect-label {
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.searchselect-container.is-dirty .searchselect-input .searchselect-label,
.searchselect-container.is-focused .searchselect-input .searchselect-label {
    color: #3f51b5;
    font-size: 12px;
    top: 4px;
    visibility: visible;
}

.searchselect-label:after {
    background-color: #3f51b5;
    bottom: 20px;
    content: '';
    height: 2px;
    left: 45%;
    position: absolute;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    visibility: hidden;
    width: 10px;
}

.searchselect-container.is-focused .searchselect-input .searchselect-label:after {
    left: 0;
    visibility: visible;
    width: 100%;
}

.searchselect-labelcontainer {
    position: relative;
    width: 100%;
}

.searchselect-labelcontainer .searchselect-datalabel.searchselect-previous-row {
    border-bottom: 0;
}

.searchselect-search {
    outline: none;
    border: none;
    display: inline;
    font-size: inherit;
    font-family: "Helvetica","Arial",sans-serif;
    margin: 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
}

.searchselect-dropdown-icon {
    position: absolute;
    display: inline;
    right: 0px;
    cursor: pointer;
    color: rgba(0,0,0,0.4);
    transform: rotate(0);
    transition: transform 0.3s;
}

.searchselect-container.is-focused .searchselect-dropdown-icon {
    color: #3f51b5;
    transform: rotate(180deg);
}

.searchselect-container .searchselect-options {
    position: absolute;
    top: 49px;
    left: 0;
    background-color: #fff;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    z-index: 999;
    border-radius: 2px;
    padding: 8px 0;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: opacity 0.45s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 0.45s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: opacity 0.45s cubic-bezier(0.23, 1, 0.32, 1), -o-transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.45s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.45s cubic-bezier(0.23, 1, 0.32, 1), -o-transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
    visibility: hidden;
}

    .searchselect-container .searchselect-options::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    .searchselect-container .searchselect-options::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    .searchselect-container .searchselect-options::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,.12);
        /*border: 2px solid rgba(0,0,0,.12);*/
    }


.searchselect-container .searchselect-options.is-visible {
    visibility: visible;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
}

.searchselect-option {
    cursor: pointer;
    text-align: left;
    padding: 0 24px;
    height: 48px;
    line-height: 48px;
}

    .searchselect-option.has-checkbox:before {
        content: '';
        display: inline-block;
        margin-right: 5px;
        width: 6px;
        height: 6px;
        border: solid #000;
        border-width: 2px 2px 2px 2px;
    }

    .searchselect-option.has-checkbox.selected:before {
        content: '';
        display: inline-block;
        margin-right: 8px;
        margin-left: 2px;
        width: 3px;
        height: 6px;
        border: solid #000;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        border-color: #27ae60;
    }

.searchselect-option:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.searchselect-option.selected {
    background-color: #ddd;
}

.searchselect-selected {
    border: none;
    display: block;
    font-size: inherit;
    font-family: "Helvetica","Arial",sans-serif;
    margin: 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
    position: absolute;
    z-index: -1;
    padding: 5px 0;
    padding-right: 5px;
}

.searchselect-datalabel {
    position: relative;
    float: left;
    width: max-content;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.searchselect-inner-input {
    width: 100%;
    min-width: 44px;
    padding: 4px 0;
}
